.searchBar {
    padding: 2rem 1rem;
}
.searchBar input{
    font-size: 1.2rem;

}
.search_results {
    width: 100%;
}
.search_result {
    border: 1px solid #eee;
    margin: .5rem 
}

.search_result:hover {
    background-color: rgb(171, 227, 171);
}
